/* CSS */

#lightsocialbuttons-container{
  font-family: Arial, sans;
}

/* SOCIAL NETWORK */
#lightsocialbuttons-container .share{
  margin-top: -10px;
  width: 100%;
  text-align: right;
  list-style: none;
  padding:0;
  margin:0;
  display: inline;
}

#lightsocialbuttons-container .share_total{
  float: left;
  margin-right: 20px;
}

#lightsocialbuttons-container .share_total_value{
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
}

#lightsocialbuttons-container .share_total_label{
  font-size: 0.9em;
  color: #999;
  text-transform: uppercase;
}

#lightsocialbuttons-container .share li{
  display: inline;
  padding-right:10px;
}

#lightsocialbuttons-container .share a{
  text-decoration: none;
  padding: 0px 4px 0px 24px;
  line-height: 18px;
  display: inline-block;
  border-radius: 2px;
  margin: 10px 0 0 0;
  background-size: 18px;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1),inset 0px 1px 0px rgba(255,255,255,0.05)
}

#lightsocialbuttons-container .share a span{
  font-weight: bold;
  display: block;
  color: white;
  text-align: right;
  min-width: 24px;
  font-size: 11px;
  text-decoration: none;
}

#lightsocialbuttons-container .share a:link, #lightsocialbuttons-container .share a:link span {
  text-decoration: none;
}

/*icon credits: iconfinder.com*/
#lightsocialbuttons-container .btnTw{
  background-color: #2DAAE1;
  background-image: url('https://cdn1.iconfinder.com/data/icons/somacro___dpi_social_media_icons_by_vervex-dfjq/128/twitter.png');
}


#lightsocialbuttons-container .btnFb{
  background-color: #3B5998;
  background-image:url('https://cdn1.iconfinder.com/data/icons/metro-ui-dock/128/Facebook_alt_1.png');
}

#lightsocialbuttons-container .btnPr{
  background-color: #CA2128;
  background-image:url('https://cdn1.iconfinder.com/data/icons/wbits-pinterest/64/pinterest-icon-square-red.png');
}

#lightsocialbuttons-container .btnGp{
  background-color: #D0422A;
  background-image:url('https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/google_plus-24.png');
}

#lightsocialbuttons-container .btnLi{
  background-color: #1783BC;
  background-image:url('https://cdn1.iconfinder.com/data/icons/social-icon-pack-by-citni/48/Linkedin.png');
}

#lightsocialbuttons-container .btnDl{
  background-color: #2873CC;
  background-image:url('https://cdn1.iconfinder.com/data/icons/freebie%3A-social-media-icons/64/delicious.png');
}

#lightsocialbuttons-container .btnBu{
  background-color: #f4f4f4;
  background-image:url('http://bufferapp.com/images/press/logo-icon.png');
  background-size: 14px !important;
  background-position: 2px center
}

#lightsocialbuttons-container .share a span.buCount{
  color: black;
}

#lightsocialbuttons-container .share_vertical{
  text-align: center;
}

#lightsocialbuttons-container .share.share_vertical li{
  text-align: center;
  display: block;
  padding: 0;
}

#lightsocialbuttons-container .share_vertical.share{
  margin-top:30px;
}
#lightsocialbuttons-container .share_vertical.share a{
  margin-top: 10px;
}

#lightsocialbuttons-container .share_vertical.share_total{
  float: none;
  margin-right: 0;
}

#lightsocialbuttons-container .share_vertical .share_total_value {
  display: block;
}

#lightsocialbuttons-container .share_clear{
  clear: left;
}